MONGO_URL='mongodb://localhost:27017/pronneltwitterpostsapp'
APP_SIGNING_SECRET='YourAppSigningSecret'
APP_CLIENT_ID='YourTwitterClientId'
APP_CLIENT_SECRET='YourTwitterClientSecret'
APP_ID=1002313
SIGNING_JWT_SECRET='YourSigningJwtSecret'
PRONNEL_HOST_URL='https://api.pronnel.com/'
APP_HOST_URL='https://yourdomain.com/app'
PRONNEL_CLIENT_ID=''
PRONNEL_CLIENT_SECRET=''
PORT=22581
REDIS_HOST = localhost
REDIS_PORT = 6379
SERVER_NUMBER = 0
CONCURRENT_BULLMQ_WORKER = 5
